.App {
  text-align: center;
}


.wrapper {
min-height: 100vh;

  width:  min(100%, 1024px);
  margin-left: auto;
  margin-right: auto;
  padding-top: 2rem;
}

#root{
  color: #ebe9e9;
  background-color: #ddd;
  background-image: var(--gradient);
  background-size: 300%;
}

@media (prefers-reduced-motion: no-preference) {
  #root{
    animation: bg-animation 20s infinite alternate;
  }
}

@keyframes bg-animation {
  0% {
    background-position: left;
  }

  100% {
    background-position: right;
  }
}


@keyframes blink {
  0% {
      opacity: 0;
  }

  50% {
      opacity: 1;
  }

  100% {
      opacity: 0;
  }
}